<h1>Static#home - Welcome Archer</h1>
<section>
	<h2>Login Form if no user</h2>
		<p>if no user</p>
	<h2>Resume Current Score Session</h2>
		<p>if user and active score session</p>
	<h2>Main Stats</h2>
		<p>if user</p>
	<h2>Most Recent Score Sessions</h2>
		<p>if user</p>
		<h3>Tournaments</h3>
		<h3>Leagues</h3>
		<h3>Competitions</h3>
<section>