/* // Place all the styles related to the ScoreSessions controller here. */
/* // They will automatically be included in application.css. */
/* // You can use Sass (SCSS) here: https://sass-lang.com/ */


#all-rsets {
    width: 90%;
    margin: 0 auto;
}

.rset-section {
    margin-bottom: 3rem;
}

.rset-info {
    margin-bottom: 1.5rem;
}
