/* // Place all the styles related to the ScoreSessions controller here. */
/* // They will automatically be included in application.css. */
/* // You can use Sass (SCSS) here: https://sass-lang.com/ */

/* ******************************************************* */
/* Scores Layout */
/* ******************************************************* */

.active-score-session, 
.all-score-sessions, 
.all-rsets, 
#form-round-section, 
#form-rset-section {
    width: 90%;
    margin: 0 auto 3rem;
}

.rset-info {
    margin-bottom: 1.5rem;
}

/* ******************************************************* */
/* Scores Tables */
/* ******************************************************* */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead th {
    width: 4rem;
}

tbody th {
    width: 6rem;
}

td {
    width: 4rem;
    border-spacing: 0;
    border: 1px solid #777777;;
    text-align: center;
}

.spacer {
    width: 2rem;
    border: none;
}

.end-score, .end-set-score {
    width: 6rem;
}